/* header */
header{
position: absolute;
width: 1000.39px;
height: 32px;
left: 200.61px;
top: 27.76px;
}


/* menu */
.navbar{
position: absolute;
width: 255px;
height: 15px;
left: 946px;
top: 37px;
}




/* logo */
.logo{
position: absolute;
width: 160.96px;
height: 31.18px;
left: 200.61px;
top: 27.76px;
}



