/*.results-section {
  background-image: url('images/headphones_hero_2.jpg');
  background-size: cover;
  background-position: center;
  outline: 2px solid red;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}*/

.results-section {
  background-image: url('images/headphones_hero_2.jpg');
  background-size: cover;
  background-position: center;
  background-color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  outline: 2px solid limegreen;
}



.maintext {
  max-width: 800px;
  margin-top: 550px;
  margin-left: 200px;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.maintext p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9e2727;
}


.pentagon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
  gap: 20px;
  padding: 40px 20px;
  max-width: 1000px;
  margin-top: 250px;
  margin-left: 200px;
  background-color: #fff;
}

.pentagon-card {
  width: 22%;
  position: relative;
  aspect-ratio: 1; 
  min-width: 120px; 
}

.pentagon-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
