.results-section {
  background-image: url('images/headphones_hero_2.jpg');
  background-size: cover;
  background-position: center;
  background-color: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  background-color: #333;
}

.results-section p {
  text-align: center;
  max-width: 600px;
}

/* .pentagon-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  background-color: #fff;
}

.pentagon-card {
  position: relative;
  width: 150px;
  height: 150px;
}

.pentagon-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
